.player-container{
  height: 90vh;
  width: 60vw;
  background-color: whitesmoke;
  overflow-y: auto;
}

.table-card{
  width: 50vw;
  margin: 0 auto;
  margin-top: 10px;
}

.player-card{
  width: 55vw;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
