.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sub-container{
  height: 200px;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}

.imgPlayer{
  margin-top: 10px;
  height: 180px;
  width: auto;
  float: right;
}

.imgSquad{
  margin-top: 10px;
  height: 180px;
  width: auto;
  float: left;
}


.player-info{
  margin-top: 50px;
  text-align: center;
}

h3{
  font-weight: bold;
}
